/* Tabs*/
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.nav-fill .nav-item {
    font-size: 24px;
    max-width: 200px !important;
border-radius: 0px;
border: none;;
}
#nav-tabs{
	background: #007b5e;
    color: #eee;
}
#nav-tabs h6.section-title{
    color: #eee;
}

#nav-tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: black;
    background-color: #efefef;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid #0aaff1 !important;
    font-size: 20px;
    font-weight: bold;
}
#nav-tabs .nax-tabs .nav-link:hover{
    background: #efefef;
    border: none;

}
#nav-tabs .nav-link{
    max-width: 200px;
}
#nav-tabs .nav-link {
    border: 1px solid transparent;
    color: #eee;
    font-size: 20px;
    color :black;
    font-size: :24px;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{
    border:none;
}